<h3 class="text-danger">
    The BranchId passed in is not Valid...
    Please click the button below to view the Valid BracnhId's
    <a asp-action="Index" asp-controller="Branch">
        Branches
    </a>
</h3>
