@model EditBranchViewModel

@{
    ViewBag.Title = "Edit Branch";
}

@*
    The folowing scripts and styles defined below are for styling
*@

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    @*
        The jQuery script below allows the file name(s) in the photo upload
        to be seen in the textbox...
        Likewise displays multiple files selected
    *@
    <script>
        $(document).ready(function () {
            $('#custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + " " + 'files Selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }

            });
        });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}


<h1> Edit Branch</h1>
<div class="row">

    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-controller="Branch" asp-action="EditBranch" method="post" class="mt-3">
            <input  hidden asp-for="ExistingImageName"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8"> <input asp-for="Name" class="form-control" /></div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8"> <input asp-for="Address" class="form-control" /></div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Telephone" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8"> <input asp-for="Telephone" class="form-control" /></div>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8"> <input asp-for="Description" class="form-control" /></div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="OpenDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8"> <input asp-for="OpenDate" class="form-control" /></div>
                @*No validation for telephone*@
            </div>

            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">

                    <input asp-for="ImageUrl" class="form-control" id="custom-file-input" placeholder=" Click to change photo... " />

                    @*<label class="custom-file-label"> Choose File...</label>*@
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Update</button>
                <a asp-controller="Branch" asp-action="Index" class="btn btn-primary"> Cancel</a>
            </div>
        </form>

    </div>
</div>